.headerbgStock {
  background-image: url("../../images/stock_image_header_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainbgStock {
  background-image: url("../../images/package-detailsbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
